<h2>New User</h2>

<%= @error %>
<%= render partial: '/errors', locals: { record: @new_user } %>
<%= render partial: '/review', locals: { record: @review} %>


<p>Already have an account? Log in <%= link_to "here", login_path %>.</p>