<h2>Index</h2>

<%= link_to 'Create New Brand', new_brand_path %>
<% @brands.each do |brand| %>
  <h3><%= link_to brand.name, brand_path(brand) %></h3>
  <p><%= brand.instruments.count %> Instruments Total</p>
<% end %>
