<h2>Instruments</h2>
<h3>List of Instruments</h3>
<div class='dropdown'>
    <span id='user-menu'>Sort By Category</span>
    <div class='dropdown-content'>
      <%= link_to("String", instruments_string_path) %>
      <%= link_to("Percussion", instruments_percussion_path) %>
      <%= link_to("Keyboard", instruments_keyboard_path) %><br>
    </div>
</div>
<%= render partial: '/instruments_index', locals: { record: @instrument } %>